[submodule "screen-message"]
	path = screen-message
	url = https://aur.archlinux.org/screen-message.git
[submodule "python-sphinxcontrib-ditaa"]
	path = python-sphinxcontrib-ditaa
	url = https://aur.archlinux.org/python-sphinxcontrib-ditaa.git
[submodule "mahjong"]
	path = mahjong
	url = https://aur.archlinux.org/mahjong.git
[submodule "trousers"]
	path = trousers
	url = https://aur.archlinux.org/trousers.git
[submodule "opencryptoki"]
	path = opencryptoki
	url = https://aur.archlinux.org/opencryptoki.git
[submodule "tpm-tools"]
	path = tpm-tools
	url = https://aur.archlinux.org/tpm-tools.git
[submodule "tuxpaint"]
	path = tuxpaint
	url = https://aur.archlinux.org/tuxpaint.git
[submodule "tuxpaint-config"]
	path = tuxpaint-config
	url = https://aur.archlinux.org/tuxpaint-config.git
[submodule "tuxpaint-stamps"]
	path = tuxpaint-stamps
	url = https://aur.archlinux.org/tuxpaint-stamps.git
[submodule "tcl85"]
	path = tcl85
	url = https://aur.archlinux.org/tcl85.git
[submodule "tk85"]
	path = tk85
	url = https://aur.archlinux.org/tk85.git
[submodule "pmbootstrap"]
	path = pmbootstrap
	url = https://aur.archlinux.org/pmbootstrap.git
